html {
	font-size: 14px;
}

body {
	background-color: @background-color;
}


.wrapper {
	//.box-shadow(1px 0 25px 0px rgba(125, 125, 125, .5));
	.responsive-wrapper-fixed();
	padding-top: 36px;
}

// skeleton
body > header {
	background-color: @header-bgcolor;

	h1 {
		color: transparent;
		position: absolute;
		top: -100px;
	}

	.banner {
		.responsive-wrapper-fixed();
		figure {
			background-image: @banner-image;
			background-position: center;
			background-size: cover;
			padding-top: @banner-image-ratio;
		}
	}

	nav {
		.responsive-wrapper-fixed();
		.clearfix();
		background-color: @nav-bgcolor;
		color: white;
		padding: 10px 0;

		.search {
			float: left;
			margin: 0 15px;
			width: 400px;
		}

		ul {
			float: right;
			margin: 0;
			padding: 0;

			/* Landscape phones and down */
			@media (max-width: 767px) {
				display: none;
			}

			li {
				float: left;
				margin: 0 15px;

				a, button {
					color: @nav-linkcolor;
					font-weight: bold;
				}

				a {
					display: inline-block;
					padding-top: 5px;
				}
			}
		}
	}
}

.main {
	.makeRow();

	article {
		.makeColumn(8);
		min-height: 300px;

	}
	aside {
		.makeColumn(4);

		/* Landscape phone to portrait tablet */
		@media (max-width: 767px) {
			display: none;
		}
		/* Landscape phones and down */
		@media (max-width: 480px) {
			display: none;
		}
	}
}

button[name="submit"] {
	color: transparent;
	position: absolute;
}

footer {
	background-color: @footer-bgcolor;
	color: @footer-textcolor;
	font-size: 0.8em;
	padding: 20px 15px;
}
