// Bootstrap
@import '../jam/bootstrap/less/bootstrap.less';
@import '../jam/bootstrap/less/layouts.less';
@import '../jam/bootstrap/less/grid.less';

//PBS
@import 'colors.less';
@import 'variables.less';
@import 'mixins.less';
//@import 'collapse-ext.less';
@import 'button-ext.less';
@import 'reset-plus.less';
@import 'responsive-grid.less';
@import 'mini-grid.less';
@import 'images.less';
//@import 'ui.less';
@import 'global.less';

//page-specific
@import 'faves.less';



.listing {
	.controls {
		background-color: #fff;
		margin-bottom: 15px;

		h2 {
			border-bottom-color: @standard-border-color;
			color: @steelblue;
			font-size: 1.143rem;
			font-weight: normal;
			line-height: 1em;
			padding-left: 15px;

		}

		a {
			border: solid 1px @standard-border-color;
			display: inline-block;
			height: 22px;
		}

		.ico-plus {
			.ico-plus-lightblue;
			height: 20px;
			width: 20px;
		}
		.ico-delete {
			.ico-trash-lightblue;
			height: 20px;
			width: 20px;
		}
		.ico-link {
			.ico-link-lightblue;
			height: 20px;
			width: 20px;
		}

	}
}



