// THEME

// global
@pbslm-btn-bgcolor: lighten(@orange, 15%);;
@pbslm-btn-highlight: @orange;

// header
@header-bgcolor: @darkgray;
	// banner
	@banner-image: url('http://d43fweuh3sg51.cloudfront.net/media/station_site/lmsite_headers/pbslm_header.png');
	@banner-image-width: 1170px;
	@banner-image-height: 110px;
	@banner-image-ratio: percentage(@banner-image-height/@banner-image-width);
	// nav
	@nav-bgcolor: @darkestgray;
	@nav-linkcolor: #fff;

// footer
@footer-bgcolor: @nav-bgcolor;
@footer-textcolor: #fff;